<!-- Categories Section -->
<div class="container mt-4 home-bg-img-2">
    <div class="text-center mb-0">
        <h5 class="underline-effect text-uppercase">Categories</h5>
    </div>
    <div class="row row-cols-3 row-cols-md-3 g-4">
        {% for category in categories %}
        <div class="col">
            <!-- Card Container -->
            <a href="{{ url_for('ecommerce.category_products', category_id=category.category_id) }}" class="text-decoration-none text-dark">
                <div class="card h-100 shadow-sm rounded-5">
                    <!-- Image Section -->
                    {% if category.category_image_path %}
                        <img src="{{ url_for('static', filename=category.category_image_path.split('static/', 1)[-1]) }}" 
                        alt="{{ category.category_name }}" 
                        class="card-img-top" 
                        style="min-height: 130px; max-height: 130px; object-fit: cover;">
                    {% endif %}
                    

                    <!-- Card Body -->
                    <div class="card-body py-0 d-flex align-items-center justify-content-center text-center text-light" 
                         style="height: auto; font-family: monospace; font-size: 0.7em;background-color: rgba(128, 0, 128, 0.7);">
                        <h5 class="card-title fw-bold m-0">{{ category.category_name | upper }}</h5>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>