{% extends "base.html" %}

{% block title %}{{ category.category_name }} Products{% endblock %}

{% block homecarousel %} {% endblock %}

{% block content %}

<!-- Header Section -->
<div class="bg-light text-center py-2">
    <h1 class="text-uppercase fw-bold">{{ category.category_name }}</h1>
</div>

<!-- Products Grid Section -->
<div class="container my-2">
    <!-- If no products found -->
    {% if products|length == 0 %}
        <div class="alert alert-warning text-center" role="alert">
            No products found in this category.
        </div>
    {% else %}
    <div class="row row-cols-2 row-cols-md-5 g-3">
        {% for product in products %}
        <div class="col">
            <!-- Product Image -->
            <div class="card border-1">
                <a href="{{ url_for('ecommerce.single_product_detail', product_id=product.product_id) }}" 
               style="text-decoration: none;">

                <img src="{{ url_for('static', filename=product.product_image_path) }}" 
                     class="w-100" 
                     alt="{{ product.product_name }}" 
                     style="min-height: 165px; max-height: 165px;">
    
                <!-- Product Name -->
                <p class="text-center fw-bold mt-2 text-dark" 
                   style="font-family: monospace; font-size: 1em;">
                    {{ product.product_name | upper }}
                </p>
            </a>
            </div>
        </div>
        {% endfor %}
    </div>
    
    
    {% endif %}
</div>

{% endblock %}
