body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

main{
  min-height: 70vh;
}

header .nav-link {
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

header .nav-link:hover {
  color: #ffcc00;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.custom-header {
  opacity: 0.8; /* Adjust the value between 0 (fully transparent) and 1 (fully opaque) */
}

.custom-footer {
  opacity: 0.8;
}

